.login-form {
    // width:400px;
    padding-top: 50px;
    height:250px;
    // background-color:rgb(144, 240, 152);
    margin:0 auto;
    margin-top:50px;
    // border:3px solid #3f51b5;
    border-radius: 10px;
    text-align: center;

    // div mat-form-field input {
    //     width: 400px;
    // }
    div > mat-form-field {
        width: 300px
    }
}

// mat-form-field, input {
//     width: 400px;
// }