<h2 mat-dialog-title>Видалити</h2>
<mat-dialog-content>Ви впевнені?</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Ні</button>
    <button mat-button (click)="closeDialog()">Так</button>
</mat-dialog-actions>