<mat-tab-group>
    <!-- --------------------------------------- -->
    <!-- відображення списку Бібліотек -->
    <!-- --------------------------------------- -->

    <mat-tab label="Бібліотеки">
        <div style='padding:20px'>
            <div>
                <div style='float: left;'>
                    <button mat-mini-fab color="primary" (click)="addLibrary()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div style='float: right;'>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фільтр">
                    </mat-form-field>
                </div>
                <div style='clear: both'></div>
            </div>
              
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                
                    <ng-container matColumnDef="id">
                    <th class='lib-table-btn' mat-header-cell *matHeaderCellDef> ID </th>
                    <td class='lib-table-btn' mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Назва </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Адреса </th>
                    <td mat-cell *matCellDef="let row"> {{row.address}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="coord">
                    <th mat-header-cell *matHeaderCellDef> Координати </th>
                    <td mat-cell *matCellDef="let row"> {{row.coord}} </td>
                    </ng-container>

                    <ng-container matColumnDef="buttons">
                        <th class='lib-table-btn' mat-header-cell *matHeaderCellDef></th>
                        <td class='lib-table-btn' mat-cell *matCellDef="let row" >
                            <button mat-icon-button color="primary" (click)="editLibrary(row.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="removeLibrary(row.id)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                
                <mat-paginator #libraryPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </mat-tab>

    <!-- --------------------------------------- -->
    <!-- відображення списку Книжок -->
    <!-- --------------------------------------- -->

    <mat-tab label="Книжки">
        <div style='padding:20px'>
            <div>
                <div style='float: left;'>
                    <button mat-mini-fab color="primary" (click)="addBook()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div style='float: right;'>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilterBook($event.target.value)" placeholder="Фільтр">
                    </mat-form-field>
                </div>
                <div style='clear: both'></div>
            </div>
                
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceBooks">
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th class='lib-table-btn' mat-header-cell *matHeaderCellDef> ID </th>
                        <td class='lib-table-btn' mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Назва </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="author">
                        <th mat-header-cell *matHeaderCellDef> Автор </th>
                        <td mat-cell *matCellDef="let row"> {{row.author}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="year">
                        <th mat-header-cell *matHeaderCellDef> Рік видання </th>
                        <td mat-cell *matCellDef="let row"> {{row.year}} </td>
                    </ng-container>

                    <ng-container matColumnDef="isbn">
                        <th mat-header-cell *matHeaderCellDef> ISBN </th>
                        <td mat-cell *matCellDef="let row"> {{row.isbn}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cover">
                        <th mat-header-cell *matHeaderCellDef> URL Обкладинки </th>
                        <td mat-cell *matCellDef="let row"> {{row.cover}} </td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Зображення </th>
                        <td mat-cell *matCellDef="let row"> <img style='max-height:100px' width='50' src="{{row.cover}}" /> </td>
                    </ng-container>

                    <ng-container matColumnDef="buttons">
                        <th class='lib-table-btn' mat-header-cell *matHeaderCellDef></th>
                        <td class='lib-table-btn' mat-cell *matCellDef="let row" >
                            <button mat-icon-button color="primary" (click)="editBook(row.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="removeBook(row.id)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsBooks"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsBooks;">
                    </tr>
                </table>
                
                <mat-paginator #bookPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>  
    </mat-tab>

    <!-- --------------------------------------- -->
    <!-- відображення списку Екземплярів книжок -->
    <!-- --------------------------------------- -->

    <mat-tab label="Екземпляри книжок">
        <div style='padding:20px'>
            <div style='text-align: left; margin-bottom: 20px;'>
                <button mat-mini-fab color="primary" (click)="addInstance()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
                
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceInstances">
                
                    <ng-container matColumnDef="id">
                        <th class='lib-table-btn' mat-header-cell *matHeaderCellDef> ID </th>
                        <td class='lib-table-btn' mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Зображення </th>
                        <td mat-cell *matCellDef="let row"> <img style='max-height:100px' width='50' src="{{findBookCoverById(row.id_book)}}" /> </td>
                    </ng-container>
                
                    <ng-container matColumnDef="id_book">
                        <th mat-header-cell *matHeaderCellDef> Книга </th>
                        <td mat-cell *matCellDef="let row"> {{row.id_book}}. {{findBookNameById(row.id_book)}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="id_library">
                        <th mat-header-cell *matHeaderCellDef> Бібліотека </th>
                        <td mat-cell *matCellDef="let row"> {{row.id_library}}. {{findLibraryNameById(row.id_library)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="returning_status">
                        <th mat-header-cell *matHeaderCellDef> Статус </th>
                        <td mat-cell *matCellDef="let row">
                            <span *ngIf="row.returning_status==true">Повернута</span>
                            <span *ngIf="row.returning_status==false">На руках</span>
                        </td>
                    </ng-container>
                
                    <ng-container matColumnDef="returning_time">
                        <th mat-header-cell *matHeaderCellDef> Час повернення </th>
                        <td mat-cell *matCellDef="let row"> {{row.returning_time}} </td>
                    </ng-container>

                    <ng-container matColumnDef="buttons">
                        <th class='lib-table-btn' mat-header-cell *matHeaderCellDef></th>
                        <td class='lib-table-btn' mat-cell *matCellDef="let row" >
                            <button mat-icon-button color="primary" (click)="editInstance(row.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="removeInstance(row.id)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsInstances"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsInstances;">
                    </tr>
                </table>
                
                <mat-paginator #instancePaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
<div style='position: absolute; top: 42px; right: 10px; width: 50px;'>
</div>

<!-- --------------------------------------- -->
<!-- кнопка для виклику меню Імпорту/Експорту -->
<!-- --------------------------------------- -->

<button mat-mini-fab color="primary" style='position: absolute; right:20px; top: 44px; z-index: 900' [matMenuTriggerFor]="rootMenu">
    <mat-icon>import_export</mat-icon>
</button>
<mat-menu #rootMenu="matMenu">
    <button mat-menu-item (click)="importFile()">Імпорт</button>
    <button mat-menu-item (click)="exportFile()">Експорт</button>
</mat-menu>