<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <script src="./assets/include/jquery-3.2.1.min.js"></script>
  <script src="./assets/include/jquery-ui.min.js"></script>
  <script src="./assets/include/qrcode.js"></script>
  
  <link rel='stylesheet' type='text/css' href='./assets/include/jquery-ui.css'>

  <link href="./assets/include/material.css" rel="stylesheet">
  <link href="./assets/include/indigo-pink.css" rel="stylesheet">

</head>

<body>

  <app>
  </app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
